{% extends 'base.html' %}

{% block content %}
<section>
    <h1 class="page-header">Members:</h1>
    <hr>
    <h2 class="add-new">
        <a href="/members/new"><span class="material-symbols-outlined">person_add</span> Add new member</a>
    </h2>
    <hr>
    <br>
    <main class="page-results">
        <div class="details">
            {% for member in members|sort(attribute='name') %}
            <p><span class="name">Name:</span> {{ member.name }}</p>
            <p><span class="name">Date of birth:</span> {{ member.dob }}</p>
            <p><span class="name">Membership:</span> {{ member.membership }}</p>
            <p><span class="name">Active?</span>{% if member.active == True %} Yes {% else %} No  {% endif %}</p>
            <p><a class="show-link" href="/members/{{ member.id }}"><span class="material-symbols-outlined">task_alt</span> Show gym classes booked</a></p>
            <br>
        </div>
        <div class="edit-delete">
            <a href="/members/{{ member.id }}/edit"><input class="edit-button" type="button" value="Edit member"></a>
            <form action="/members/{{ member.id }}/delete" method="post">
                <input class="delete-button" type="submit" value="Delete member">
            </form>
        </div>
        <hr>
        {% endfor %}
    </main>
</section>
{% endblock content %}