{% extends 'base.html' %}

<!--put this in a table maybe?-->
{% block content %}
    <h1>Members:</h1>

    <h2>
        <a href="/members/new">Add new member</a>
    </h2>
    
    <section>
        {% for member in members %}
        <p>{{ member.name }}</p>
        <p>{{ member.dob }}</p>
        <p>{{ member.membership }}</p>
        <p>{{ member.active }}</p>

        <div>
            <a href="/members/{{ member.id }}">Booked gym classes</a>
        </div>
        
        <a href="/members/{{ member.id }}/edit">Edit member</a>
        <form action="/members/{{ member.id }}/delete" method="post">
            <input type="submit" value="Delete member">
        </form>
        <hr>
        {% endfor %}
    </section>
{% endblock content %}

<!--add on this page a button to add a new member as well!!-->