{% extends 'base.html' %}

{% block content %}
<section>
    <h1 class="page-sub-header">Add new member:</h1>
    <hr>
    <div class="form-page">
        <form action="/members" method="post">
            
            <div class="form-details">
                <label for="name">Full name:</label>
                <input type="text" id="name" name="name" autofocus autocomplete="off" placeholder="Type member's name" required>
            </div>

            <div class="form-details">
                <label for="dob">Date of birth:</label>
                <input type="date" id="dob" name="dob" required>
            </div>

            <div class="form-details">
                <label for="membership">Membership type:</label>
                <select name="membership" id="membership">
                    <option value="Core">Core</option>
                    <option value="Plus">Plus</option>
                </select>
            </div>

            <div class="form-details">
                <label for="active">Active member?</label>
                <select name="active" id="active">
                    <option value="True">Yes</option>
                    <option value="False">No</option>
                </select>
            </div>
            <br>
            <input class="add-button" type="submit" value="Add new member">
        </form>
    </div>
</section>
{% endblock content %}