<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--CSS files imported-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <title>iHeart Gym</title>
</head>

<body>
    <nav>
        <ul>
            <li>
                <a href="/">Dashboard</a>
            </li>
            <li>
                <a href="/members">Members</a>
            </li>
            <li>
                <a href="/gymclasses">Gym Classes</a>
            </li>
            <li>
                <a href="/bookings">Bookings</a>
            </li>
        </ul>
    </nav>
    <section>
        {% block content %}
            
        {% endblock content %}
    </section>
</body>

</html>