{% extends 'base.html' %}

{% block content %}
    
<section>
    <h1 class="page-header">Edit gym class details:</h1>
    <hr>
    <div class="form-page">
        <form action="/gymclasses/{{ gymclass.id }}" method="post">
            
            <div class="form-details">
                <label for="gymclass_name">Gym class name:</label>
                <input type="text" id="gymclass_name" name="gymclass_name" autofocus autocomplete="off" placeholder="Type gym class name" required value="{{ gymclass.gymclass_name }}">
            </div>

            <div class="form-details">
                <label for="instructor">Instructor name:</label>
                <input type="text" id="instructor" name="instructor" autocomplete="off" placeholder="Type instructor's name" required value="{{ gymclass.instructor }}">
            </div>

            <div class="form-details">
                <label for="date">Date:</label>
                <input type="date" id="date" name="date" required value="{{ gymclass.date }}">
            </div>

            <div class="form-details">
                <label for="start_time">Start time:</label>
                <input type="time" id="start_time" name="start_time" required value="{{ gymclass.start_time }}">
            </div>

            <div class="form-details">
                <label for="duration">Duration:</label>
                <input type="number" id="duration" name="duration" required value="{{ gymclass.duration }}">
            </div>

            <div class="form-details">
                <label for="capacity">Gym class capacity:</label>
                <input type="number" id="capacity" name="capacity" required value="{{ gymclass.capacity }}">
            </div>

            <div class="form-details">
                <label for="active">Active gym class?</label>
                <select name="active" id="active">
                    <option value="True"
                    {% if gymclass.active == True %}
                        selected="selected"
                    {% endif %}
                    >True</option>
                    <option value="False"
                    {% if gymclass.active == False %}
                        selected="selected"
                    {% endif %}
                    >False</option>
                </select>
            </div>
            <br>
            <input class="add-button" type="submit" value="Save gym class">
        </form>
    </div>
</section>
{% endblock content %}