{% extends 'base.html' %}

{% block content %}
<section>
    <h1 class="page-sub-header">Add new gym class</h1>
    <hr>
    <main class="form-page">
        <form action="/gymclasses" method="post">
            
            <div class="form-details">
                <label for="gymclass_name">Class name:</label>
                <input type="text" id="gymclass_name" name="gymclass_name" autofocus autocomplete="off" placeholder="Type gym class name" required>
            </div>

            <div class="form-details">
                <label for="instructor">Instructor name:</label>
                <input type="text" id="instructor" name="instructor" autocomplete="off" placeholder="Type instructor's name" required>
            </div>

            <div class="form-details">
                <label for="date">Date:</label>
                <input type="date" id="date" name="date" required>
            </div>

            <div class="form-details">
                <label for="start_time">Start time:</label>
                <input type="time" id="start_time" name="start_time" required>
            </div>

            <div class="form-details">
                <label for="duration">Duration (min):</label>
                <input type="number" id="duration" name="duration" required>
            </div>

            <div class="form-details">
                <label for="capacity">Class capacity (total):</label>
                <input type="number" id="capacity" name="capacity" required>
            </div>

            <div class="form-details">
                <label for="active">Active gym class?</label>
                <select name="active" id="active">
                    <option value="True">Yes</option>
                    <option value="False">No</option>
                </select>
            </div>
            <br>
            <input class="add-button" type="submit" value="Add new gym class">
        </form>
    </main>
</section>
{% endblock content %}